<launch>
<!--    <node pkg="detection" type="detection" name="detection" output="screen">-->
<!--        <param name="cameraFrame" value="camera_depth_optical_frame"/>-->
<!--        <param name="cameraPoint" value="/camera/depth/points"/>-->
<!--        <param name="odomFrame" value="/odom/ground_truth"/>-->
<!--        <param name="baseFrame" value="/base"/>-->
<!--        <param name="lidarFrame" value="/map"/>-->
<!--        <param name="FilterFieldName" value="z"/>-->
<!--        <param name="setFilterLimitsUp" value="5.0"/>-->
<!--        <param name="setFilterLimitsDown" value="0.0"/>-->
<!--        <param name="use_static_tf" value="false"/>-->
<!--        <param name="elevation_wait_time" value="10"/>-->
<!--    </node>-->

<!--    <node pkg="detection" type="rawmapping" name="rawmapping" output="screen">-->
<!--        <param name="cameraFrame" value="camera_depth_optical_frame"/>-->
<!--        <param name="mapFrame" value="map"/>-->
<!--        <param name="cameraPoint" value="/camera_point"/>-->
<!--        <param name="FilterFieldName" value="z"/>-->
<!--        <param name="setFilterLimitsUp" value="3.5"/>-->
<!--        <param name="setFilterLimitsDown" value="0.0"/>-->
<!--        <param name="setFilterheight" value="0.12"/>-->
<!--        <param name="setOutlierFilter" value="false"/>-->
<!--        <param name="setOutlierFilterMeanK" value="10"/>-->
<!--        <param name="setOutlierFilterThresh" value="1.0"/>-->
<!--        <param name="voxelsize" value="0.04"/>-->
<!--        <param name="roshz" value="1000"/>-->
<!--        <param name="wait_surfel_finished" value="10000"/>-->
<!--        <param name="setPointNumLimit" value="250000"/>-->
<!--    </node>-->

    <!-- Get Pointcloud and transform to Gridmap-->
    <node pkg="detection" type="grid_map_test" name="grid_map_test" output="screen" >
        <param name="point_sub_topic" value="/map_points" />
        <param name="position_sub_topic" value="/odom/ground_truth" />
        <param name="grid_pub_topic" value="/grid_map" />
        <param name="grid_frame_id" value="/map" />
<!--        <param name="point_sub_topic" value="/velodyne_points" />-->
<!--        <param name="grid_frame_id" value="/velodyne" />-->
        <param name="point_update" value="false" />
        <param name="position_update" value="true" />
        <param name="grid_map_size_x" value="8.0" />
        <param name="grid_map_size_y" value="8.0" />
        <param name="grid_map_position_x" value="0.0" />
        <param name="grid_map_position_y" value="0.0" />
        <param name="grid_map_resolution" value="0.1" />
    </node>

    <!-- Launch the grid map filters demo node. -->
    <node pkg="grid_map_demos" type="filters_demo" name="grid_map_filter_demo" output="screen">
        <!-- Input topic -->
        <param name="input_topic" value="/grid_map" />
        <!-- Output topic -->
        <param name="output_topic" value="filtered_map" />
        <!-- Load grid map filter chain configuration -->
        <rosparam command="load" file="$(find detection)/config/filters_demo_filter_chain.yaml" />
    </node>

    <node pkg="detection" type="grid_to_occupancy" name="grid_to_occupancy" output="screen">
        <param name="grid_sub_topic" value="/grid_map_filter_demo/filtered_map" />
        <param name="occupancy_grid_pub_topic" value="/occupancy_grid_traversability" />
        <param name="elevation_layer" value="elevation" />
        <param name="traversability_layer" value="traversability" />
        <param name="data_min" value="0.0" />
        <param name="data_max" value="1.0" />
    </node>

    <!-- Load the general parameters (except for filter chain) for this demo. -->
<!--    <rosparam command="load" file="$(find detection)/config/filters_demo.yaml" />-->

    <!-- Launch the grid map visualizer. -->
<!--    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen" />-->

    <!-- Launch RViz with the demo configuration. -->
    <node name="gridmap_rviz" pkg="rviz" type="rviz" args="-d $(find detection)/rviz/grid_map_demo.rviz" />
</launch>
