<launch>

    <!-- Launch realsense camera node -->
    <include file="$(find realsense2_camera)/launch/rs_camera_cpu.launch" />

    <!-- Launch velodyne node -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <include file="$(find receive_xsens)/launch/receive_xsens.launch" />

<!--    <node pkg="location" type="locationV2" name="locationV2"  output="screen">
        <param name="mapPCDFileName" value="$(find location)/map/ysc3.pcd"/>
        <param name="lidarName" value="velodyne_points"/>
        <param name="enableSwitchLidarData" value="false"/>
        <param name="switchBufferSize" value="4"/>
        <param name="enablePublishGlobalDenseMap" value="false"/>
    </node> -->

    <node pkg="location" type="locationSyncwithRostime" name="locationSyncwithRostime"  output="screen">
    <param name="mapPCDFileName" value="$(find location)/map/ysc3.pcd"/>
    <param name="lidarName" value="velodyne_packets"/>
    <param name="enableSwitchLidarData" value="false"/>
    <param name="switchBufferSize" value="4"/>
    <param name="enablePublishGlobalDenseMap" value="false"/>

  </node> 

<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0.0 0 0.59 0 0 0 base_link velodyne 50" />
<node pkg="tf" type="static_transform_publisher" name="link3_broadcaster" args="0.0 0 0.54 0 0 0 base_link imu 50" />
<node pkg="tf" type="static_transform_publisher" name="link4_broadcaster" args="0.0 0 0.0 0 0 0 map odom 50" />
<!--<node pkg="tf" type="static_transform_publisher" name="link5_broadcaster" args="0.0 0.0 -0.1 -1.57 -0.01 -1.9 velodyne camera_link 50" />-->

<node name="MapServer" pkg="map_server" type="map_server" output="screen" args="$(find location)/map/ysc3.yaml"/>

<node pkg="detection" type="detection" name="detection" output="screen">
    <param name="cameraFrame" value="camera_link"/>
    <param name="cameraPoint" value="/camera/depth/color/points"/>
    <param name="odomFrame" value="odom"/>
    <param name="FilterFieldName" value="z"/>
    <param name="setFilterLimitsUp" value="5.0"/>
    <param name="setFilterLimitsDown" value="0.0"/>
    <param name="use_static_tf" value="false"/>
    <param name="use_static_tf" value="true"/>
    <param name="elevation_wait_time" value="10"/>
</node>

<node pkg="detection" type="rawmapping" name="rawmapping" output="screen">
    <param name="cameraFrame" value="camera_link"/>
    <param name="mpaFrame" value="odom"/>
    <param name="cameraPoint" value="/camera/depth/color/points"/>
    <param name="FilterFieldName" value="z"/>
    <param name="setFilterLimitsUp" value="2.5"/>
    <param name="setFilterLimitsDown" value="0.3"/>
    <param name="setFilterheight" value="0.1"/>
    <param name="setOutlierFilter" value="false"/>
    <param name="setOutlierFilterMeanK" value="10"/>
    <param name="setOutlierFilterThresh" value="1.0"/>
    <param name="voxelsize" value="0.04"/>
    <param name="roshz" value="1000"/>
    <param name="wait_surfel_finished" value="10000"/>
    <param name="setPointNumLimit" value="250000"/>
</node>

<!--
<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">

    <param name="resolution" value="0.04" />

    <param name="frame_id" type="string" value="/odom" />

    <param name="sensor_model/max_range" value="3.0" />
    <param name="latch" value="false" />

    <param name="pointcloud_max_z" value="10" />
    <param name="pointcloud_min_z" value="-1" />

    <remap from="/cloud_in" to="/camera_point" />

<param name="base_frame_id" value="/base_link" />
<param name="filter_ground" value="false" />
<param name="ground_filter/distance" value="0.01" />

</node>
-->

    <!-- Launch RViz with the demo configuration -->
<!--    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization.rviz" />-->

    <arg name="rviz" default="true" />
    <param name="use_sim_time" value="false" />
    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find location)/rviz_cfg/ndt_matching.rviz" />
    </group>

<!-- Elevation mapping node -->

<node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <param name="length_in_x" value="20.0"/>
    <param name="length_in_y" value="20.0"/>
    <param name="resolution" value="0.08"/>
    <param name="threshold_roughness" value="0.2"/>
    <param name="threshold_height" value="0.3"/>
    <param name="max_variance" value="0.04"/>
    <param name="robot_pose_cache_size" value="200"/>
    <param name="min_update_rate" value="1.0"/>
    <param name="fused_map_publishing_rate" value="10.0"/>

    <param name="point_cloud_topic" value="/camera_point"/>
    <param name="robot_pose_with_covariance_topic" value="/odom_pose"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="map_frame_id" value="map"/>
    <param name="track_point_frame_id" value="base_link"/>
    <param name="sensor_frame_id" value="/camera_link"/>
    <param name="robot_base_frame_id" value="base_link"/>

    <param name="enable_visibility_cleanup" value="false"/>
    <param name="visibility_cleanup_rate" value="0.05"/>
    <param name="scanning_duration" value="0.3"/>

    <param name="sensor_processor/type" value="structured_light"/>
    <param name="sensor_processor/cutoff_max_depth" value="3.0"/>
    <param name="sensor_processor/cutoff_min_depth" value="0.0"/>
    <param name="sensor_processor/normal_factor_a" value="0.000611"/>
    <param name="sensor_processor/normal_factor_b" value="0.003587"/>
    <param name="sensor_processor/normal_factor_c" value="0.3515"/>
    <param name="sensor_processor/normal_factor_d" value="0"/>
    <param name="sensor_processor/normal_factor_e" value="1"/>
    <param name="sensor_processor/lateral_factor" value="0.01576"/>

    <param name="sensor_processor/apply_voxelgrid_filter" value="true"/>
    <param name="sensor_processor/voxelgrid_filter_size" value="0.03"/>
</node>


<!-- Launch visualizations for the resulting elevation map -->
<include file="$(find elevation_mapping_demos)/launch/visualization.launch" />


</launch>
